# Mongo
MONGO_URL=mongodb+srv://USER:PASS@cluster0.example.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=integrative_practice

# Server
PORT=3000
NODE_ENV=development

# JWT + Cookie
JWT_SECRET=super_secreto_unico
JWT_EXPIRES=15m
COOKIE_SECRET=otra_clave_para_firmar
COOKIE_NAME=currentUser

# CORS (si hay front aparte)
# CORS_ORIGIN=http://localhost:5173
